mixin myinfo (name = 'Maks', age = '32', phone = '0951077047', occupation = 'Future WebDeveloper', birthplace = 'Iwano-Frankiwsk', schedule = '24/7', avatar ='/images/noimage.jpeg', chosen = false)
	.myinfo-wrapper
		.myinfo--avatar
				img(src=avatar)
		.myinfo_name #{name}
		.myinfo_age #{age}
		.myinfo_phone #{phone}
		.myinfo_occupation #{occupation}
		.myinfo_birthplace #{birthplace}
		.myinfo_schedule #{schedule}
		